


:root {
  --magenta: rgb(210, 51, 210);
  --cyan: rgb(98, 230, 230);
  --yellow: rgb(237, 237, 32);
  --font-color: rgb(33, 33, 33);
  --font-color-light: rgb(155, 155, 155);
  --background: rgb(255, 255, 255);
  --background-light: rgb(230, 230, 230);
}

.WineTasting {
  margin: 2rem auto;
  padding: 1rem 2rem;
  max-width: 1200px;
  box-shadow: 20px 20px 25px rgba(33, 33, 33, 0.2);
  border-radius: 25px;
  background-color: rgb(165, 35, 46);
  color:white
}

.Header {
  text-align: center;
  font-size: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white
}

.Filter {
  display: flex;
  justify-content: space-between;
}
.Filter select,
.Filter input,
.Filter button {
  text-align: center;
  width: 275px;
  height: 30px;
  margin: 0 6px 6px;
  background: white;
  box-shadow: 5px 5px 10px rgb(98, 230, 230);
  border-radius: 20px;
}